{{>licenseInfo}}
{{#models}}
{{#model}}
{{#tsImports}}
import type { {{classname}} } from '{{filename}}';
{{/tsImports}}

{{#description}}
/**
 * {{{.}}}
 */
{{/description}}
{{#isEnum}}
export const {{classname}} = {
{{#allowableValues}}{{#enumVars}}    {{name}}: {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}{{/allowableValues}}
} as const;

export type {{classname}} = typeof {{classname}}[keyof typeof {{classname}}];
{{/isEnum}}
{{^isEnum}}
{{#hasVars}}
export interface {{classname}}{{#parent}} extends {{.}}{{/parent}} {
{{#vars}}
{{#description}}
    /** {{{.}}} */
{{/description}}
{{#vendorExtensions.x-is-readonly}}    readonly {{/vendorExtensions.x-is-readonly}}{{^vendorExtensions.x-is-readonly}}    {{/vendorExtensions.x-is-readonly}}{{name}}{{^required}}?{{/required}}: {{#isEnum}}{{#isArray}}Array<{{classname}}.{{enumName}}>{{/isArray}}{{^isArray}}{{classname}}.{{enumName}}{{/isArray}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#isNullable}} | null{{/isNullable}};
{{/vars}}
}
{{#hasEnums}}

export namespace {{classname}} {
{{#vars}}
{{#isEnum}}
    export const {{enumName}} = {
{{#allowableValues}}{{#enumVars}}        {{name}}: {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}{{/allowableValues}}
    } as const;
    export type {{enumName}} = typeof {{enumName}}[keyof typeof {{enumName}}];

{{/isEnum}}
{{/vars}}
}
{{/hasEnums}}
{{/hasVars}}
{{^hasVars}}
export type {{classname}} = {{#vendorExtensions.x-is-type-alias}}{{{vendorExtensions.x-type-alias-value}}}{{/vendorExtensions.x-is-type-alias}}{{^vendorExtensions.x-is-type-alias}}Record<string, unknown>{{/vendorExtensions.x-is-type-alias}};
{{/hasVars}}
{{/isEnum}}
{{/model}}
{{/models}}
