{{#hasQueryParams}}
/**
 * Query parameters for {{nickname}}
 */
export interface {{vendorExtensions.x-params-interface-name}} {
{{#queryParams}}
    {{vendorExtensions.x-query-key}}{{^required}}?{{/required}}: {{{dataType}}};
{{/queryParams}}
}

{{/hasQueryParams}}
/**
 * {{summary}}
 * {{notes}}
 * Creates a reactive HTTP resource that automatically refetches when signals change.
{{#pathParams}}
 * @param {{paramName}} {{description}}
{{/pathParams}}
{{#headerParams}}
 * @param {{paramName}} {{description}}
{{/headerParams}}
{{#hasQueryParams}}
 * @param params Optional signal containing query parameters
{{/hasQueryParams}}
 */
export function {{nickname}}Resource({{{vendorExtensions.x-resource-params}}}): HttpResourceRef<{{{vendorExtensions.x-resource-type}}} | undefined> {
    return {{{vendorExtensions.x-resource-factory}}}(() => {
{{#pathParams}}
        const {{paramName}}Value = typeof {{paramName}} === 'function' ? {{paramName}}() : {{paramName}};
        if ({{paramName}}Value === undefined) {
            return undefined;
        }
{{^vendorExtensions.x-is-numeric}}
        const {{paramName}}Path = encodeURIComponent(String({{paramName}}Value));
{{/vendorExtensions.x-is-numeric}}
{{/pathParams}}
{{#hasHeaderParams}}
        const headers: Record<string, string> = {};
{{#headerParams}}
        const {{paramName}}Value = typeof {{paramName}} === 'function' ? {{paramName}}() : {{paramName}};
        if ({{paramName}}Value !== undefined && {{paramName}}Value !== null) {
            headers['{{baseName}}'] = String({{paramName}}Value);
        }
{{/headerParams}}
{{/hasHeaderParams}}
{{#hasQueryParams}}
{{#vendorExtensions.x-all-query-params-optional}}
        const queryParams = params?.() ?? {};
{{/vendorExtensions.x-all-query-params-optional}}
{{^vendorExtensions.x-all-query-params-optional}}
        const queryParams = params();
{{/vendorExtensions.x-all-query-params-optional}}
        const searchParams = new URLSearchParams();
{{#queryParams}}
        appendQueryParam(searchParams, '{{baseName}}', queryParams.{{vendorExtensions.x-query-key}});
{{/queryParams}}
        const query = searchParams.toString();
{{/hasQueryParams}}
        return {{{vendorExtensions.x-resource-request}}};
    });
}

