{{#vendorExtensions.x-has-query-params}}
/**
 * Query parameters for {{nickname}}
 */
export interface {{vendorExtensions.x-params-interface-name}} {
{{#queryParams}}
    {{vendorExtensions.x-ts-name}}{{^required}}?{{/required}}: {{{dataType}}};
{{/queryParams}}
}

{{/vendorExtensions.x-has-query-params}}
/**
 * {{summary}}
 * {{notes}}
 * Creates a reactive HTTP resource that automatically refetches when signals change.
{{#pathParams}}
 * @param {{vendorExtensions.x-ts-name}} {{description}}
{{/pathParams}}
{{#headerParams}}
 * @param {{vendorExtensions.x-ts-name}} {{description}}
{{/headerParams}}
{{#vendorExtensions.x-has-query-params}}
 * @param params Optional signal containing query parameters
{{/vendorExtensions.x-has-query-params}}
 */
export function {{nickname}}Resource({{{vendorExtensions.x-resource-params}}}): HttpResourceRef<{{#returnType}}{{{.}}}{{/returnType}}{{^returnType}}unknown{{/returnType}} | undefined> {
    return httpResource{{#vendorExtensions.x-response-type}}.{{vendorExtensions.x-response-type}}{{/vendorExtensions.x-response-type}}{{^vendorExtensions.x-response-type}}<{{#returnType}}{{{.}}}{{/returnType}}{{^returnType}}unknown{{/returnType}}>{{/vendorExtensions.x-response-type}}(() => {
{{#pathParams}}
        const {{vendorExtensions.x-ts-name}}Value = typeof {{vendorExtensions.x-ts-name}} === 'function' ? {{vendorExtensions.x-ts-name}}() : {{vendorExtensions.x-ts-name}};
        if ({{vendorExtensions.x-ts-name}}Value === undefined) {
            return undefined;
        }
{{^vendorExtensions.x-is-numeric}}
        const {{vendorExtensions.x-ts-name}}Path = encodeURIComponent(String({{vendorExtensions.x-ts-name}}Value));
{{/vendorExtensions.x-is-numeric}}
{{/pathParams}}
{{#hasHeaderParams}}
        const headers: Record<string, string> = {};
{{#headerParams}}
        const {{vendorExtensions.x-ts-name}}Value = typeof {{vendorExtensions.x-ts-name}} === 'function' ? {{vendorExtensions.x-ts-name}}() : {{vendorExtensions.x-ts-name}};
        if ({{vendorExtensions.x-ts-name}}Value !== undefined && {{vendorExtensions.x-ts-name}}Value !== null) {
            headers['{{baseName}}'] = String({{vendorExtensions.x-ts-name}}Value);
        }
{{/headerParams}}
{{/hasHeaderParams}}
{{#vendorExtensions.x-has-query-params}}
{{#vendorExtensions.x-all-query-params-optional}}
        const queryParams = params?.() ?? {};
{{/vendorExtensions.x-all-query-params-optional}}
{{^vendorExtensions.x-all-query-params-optional}}
        const queryParams = params();
{{/vendorExtensions.x-all-query-params-optional}}
        const searchParams = new URLSearchParams();
{{#queryParams}}
{{#isArray}}
        if (queryParams.{{vendorExtensions.x-ts-name}}?.length) {
            queryParams.{{vendorExtensions.x-ts-name}}.forEach(value => searchParams.append('{{baseName}}', String(value)));
        }
{{/isArray}}
{{^isArray}}
{{#isBoolean}}
        if (queryParams.{{vendorExtensions.x-ts-name}} !== undefined) {
            searchParams.set('{{baseName}}', String(queryParams.{{vendorExtensions.x-ts-name}}));
        }
{{/isBoolean}}
{{^isBoolean}}
        if (queryParams.{{vendorExtensions.x-ts-name}} !== undefined && queryParams.{{vendorExtensions.x-ts-name}} !== null) {
{{#vendorExtensions.x-query-object}}
            appendQueryObject(searchParams, queryParams.{{vendorExtensions.x-ts-name}});
{{/vendorExtensions.x-query-object}}
{{^vendorExtensions.x-query-object}}
            searchParams.set('{{baseName}}', String(queryParams.{{vendorExtensions.x-ts-name}}));
{{/vendorExtensions.x-query-object}}
        }
{{/isBoolean}}
{{/isArray}}
{{/queryParams}}
        const query = searchParams.toString();
{{/vendorExtensions.x-has-query-params}}
        return {{{vendorExtensions.x-resource-request}}};
    });
}

